* {
    box-sizing: border-box;
}

html {
    background: gray;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: white;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    margin: 10px auto;
    padding: 0;
    width: 90%;
}

header {
    background: blue;
    border-radius: 18px 18px 0 0;
    box-shadow: 0px 3px 3px grey;
    color: white;
    font-size: xx-large;
    padding: 20px;
}

main {
    margin: 5px 2px 10px 2px;
    overflow-x: hidden;
    overflow-y: auto;
}

article {
    background: whitesmoke  ;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

article > div {
    border-bottom: 1px solid;
    font-size: x-large;
    padding-bottom: 2px;
}

section {
    padding: 5px;
}

section > a {
    color: inherit;
    display: block;
    padding: 1px 5px;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    margin-bottom: 5px;
}

.flex {
    flex: 1;
}

.button {
    align-items: center;
    background: green;
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    font-size: medium;
    justify-content: center;
    margin: auto 5px;
    padding: 5px 10px;
}

.button:hover {
    background: darkgreen;
}

.button-round {
    border-radius: 50%;
    color: white;
    font-size: large;
    height: 1.5em;
    padding: 0;
    width: 1.5em;
}

.clickable:hover {
    background-color: rgba(25, 25, 25, 0.15);
    cursor: pointer;
}

textarea {
    resize: vertical;
}

input, textarea {
    border: 1px solid rgba(25,25,25,.3);
    border-radius: 5px;
    flex: 1;
    margin: auto 5px;
    padding: 1px 5px;
}

.flash {
    text-align: center;
}

@media screen and (min-width: 480px) {
    body {
        height: calc(100% - 40px);
        margin: 20px auto;
        max-width: 640px;
        width: 80%;
    }
}
