{% extends "layout.html" %} 
{% block body %} 
<article>
    <div class="row">
        <span class="flex">Confirmation</span>
    </div>
    <section>
        <!-- action intentionally omitted to post back to current page -->
        <form method="POST">
            <label>
                Are you sure that you want to delete {{ item.name }} from {{ item.category.name }}?
            </label>
            <div class="row"></div>
            <div class="row">
                <input type="hidden" value="{{ session.state }}" />
                {% if session.user_id and session.user_id == item.user_id %}
                <button type="submit" class="button">Delete</button>
                {% endif %}
                <a href="{{ url_for('viewItem', itemId=item.id) }}">
                    <button class="button" type="button">Cancel</button>
                </a>
            </div>
        </form>
    </section>
</article>
{% endblock %}