{% extends "layout.html" %} 
{% block body %} 
<article>
    <div class="row">
        <span class="flex">{{ category.name }}</span>
    </div>
    <section>
        <!-- action intentionally omitted to post back to current page -->
        <form method="POST">
            <input type="hidden" value="{{ item.id }}" />
            <input type="hidden" value="{{ session.state }}" />
            <label for="name">Name: </label>
            <div class="row">
                <input id="name" name="name" type="text" value="{{ item.name }}" />
            </div>
            <label for="description">Description: </label>
            <div class="row">
                <textarea id="description" name="description" rows="5">{{ item.description }}</textarea>
            </div>
            <div class="row">
                {% if session.user_id and (not item.id or session.user_id == item.user_id) %}
                <button type="submit" class="button">Save</button>
                {% endif %}
                {% if not item.id %}
                <a href="{{ url_for('getCategories') }}">
                    <button class="button" type="button">Cancel</button>
                </a>
                {% else %}
                <a href="{{ url_for('viewItem', itemId=item.id) }}">
                    <button class="button" type="button">Cancel</button>
                </a>
                {% endif %}
            </div>
        </form>
    </section>
</article>
{% endblock %}